packages:
  yum:
    mod_ssl : []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        ServerName smithsonian-lims-test.geneious.com
        ServerAlias www.smithsonian-lims-test.geneious.com biocode-lims-server.elasticbeanstalk.com www.biocode-lims-server.elasticbeanstalk.com
        <Proxy *>
        	Order deny,allow
        	Allow from all
        </Proxy>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        SSLCertificateChainFile "/etc/pki/tls/certs/sub.class1.server.ca.pem"

        ProxyPass / http://localhost:8080/ retry=0
        ProxyPassReverse / http://localhost:8080/
        ProxyPreserveHost on

        LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\""
        ErrorLog /var/log/httpd/elasticbeanstalk-error_log
        TransferLog /var/log/httpd/elasticbeanstalk-access_log
      </VirtualHost>

  /etc/pki/tls/certs/server.crt:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
        -----BEGIN CERTIFICATE-----
        MIIGsTCCBZmgAwIBAgIDAnVNMA0GCSqGSIb3DQEBCwUAMIGMMQswCQYDVQQGEwJJ
        TDEWMBQGA1UEChMNU3RhcnRDb20gTHRkLjErMCkGA1UECxMiU2VjdXJlIERpZ2l0
        YWwgQ2VydGlmaWNhdGUgU2lnbmluZzE4MDYGA1UEAxMvU3RhcnRDb20gQ2xhc3Mg
        MiBQcmltYXJ5IEludGVybWVkaWF0ZSBTZXJ2ZXIgQ0EwHhcNMTQwOTA5MjAyMjA1
        WhcNMTYwOTA5MDIzNjA0WjCBpTELMAkGA1UEBhMCTloxETAPBgNVBAgTCEF1Y2ts
        YW5kMREwDwYDVQQHEwhBdWNrbGFuZDEXMBUGA1UEChMOQmlvbWF0dGVycyBMdGQx
        KzApBgNVBAMTInNtaXRoc29uaWFuLWxpbXMtdGVzdC5nZW5laW91cy5jb20xKjAo
        BgkqhkiG9w0BCQEWG3N5c3RlbV9hZG1pbkBiaW9tYXR0ZXJzLmNvbTCCASIwDQYJ
        KoZIhvcNAQEBBQADggEPADCCAQoCggEBALASSuSKlwqB4k7F//7iJvuGvnN8CvfY
        YTGownFFGQjHANfFg58nqJgozW6R2jiCrx4cs1VyjwFhKQVHtSiZYEuBMHAz91HQ
        zs8j+uzGUDoU9YH4Re+xX960NtguSlfqsY9AemltFlNqwLSz6ABzGupppI1Ecyoi
        rDLwflPsz6wVFs54zUVeJcX6D7u3A5cO32UsdW2RyJnbYDlj48x41UjSrdKIr3M+
        kj9aPlQbRJ/kzH1PO0sD4Bfv+dxJ850DaDcGF0tW5wBQqLfSdR2CbswxfcG3ZyI7
        XDi/Rm05ZPpWT69UYj0i+Qjg5zEyGtn+zrfy5UJwq6FxCilcA38KljMCAwEAAaOC
        Av8wggL7MAkGA1UdEwQCMAAwCwYDVR0PBAQDAgOoMB0GA1UdJQQWMBQGCCsGAQUF
        BwMCBggrBgEFBQcDATAdBgNVHQ4EFgQUHgdbSWPMpWhUpgj0ttDeRfV+yGgwHwYD
        VR0jBBgwFoAUEdsjRf1UzGpxb4SKA9e+9wEvJoYwOwYDVR0RBDQwMoIic21pdGhz
        b25pYW4tbGltcy10ZXN0LmdlbmVpb3VzLmNvbYIMZ2VuZWlvdXMuY29tMIIBVgYD
        VR0gBIIBTTCCAUkwCAYGZ4EMAQICMIIBOwYLKwYBBAGBtTcBAgMwggEqMC4GCCsG
        AQUFBwIBFiJodHRwOi8vd3d3LnN0YXJ0c3NsLmNvbS9wb2xpY3kucGRmMIH3Bggr
        BgEFBQcCAjCB6jAnFiBTdGFydENvbSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTAD
        AgEBGoG+VGhpcyBjZXJ0aWZpY2F0ZSB3YXMgaXNzdWVkIGFjY29yZGluZyB0byB0
        aGUgQ2xhc3MgMiBWYWxpZGF0aW9uIHJlcXVpcmVtZW50cyBvZiB0aGUgU3RhcnRD
        b20gQ0EgcG9saWN5LCByZWxpYW5jZSBvbmx5IGZvciB0aGUgaW50ZW5kZWQgcHVy
        cG9zZSBpbiBjb21wbGlhbmNlIG9mIHRoZSByZWx5aW5nIHBhcnR5IG9ibGlnYXRp
        b25zLjA1BgNVHR8ELjAsMCqgKKAmhiRodHRwOi8vY3JsLnN0YXJ0c3NsLmNvbS9j
        cnQyLWNybC5jcmwwgY4GCCsGAQUFBwEBBIGBMH8wOQYIKwYBBQUHMAGGLWh0dHA6
        Ly9vY3NwLnN0YXJ0c3NsLmNvbS9zdWIvY2xhc3MyL3NlcnZlci9jYTBCBggrBgEF
        BQcwAoY2aHR0cDovL2FpYS5zdGFydHNzbC5jb20vY2VydHMvc3ViLmNsYXNzMi5z
        ZXJ2ZXIuY2EuY3J0MCMGA1UdEgQcMBqGGGh0dHA6Ly93d3cuc3RhcnRzc2wuY29t
        LzANBgkqhkiG9w0BAQsFAAOCAQEAxpgsGU0p0/cmKX+3ldw97fmTmJkNT1a+fNRT
        l3/VkUkWhKURcn7i/eK9lOm3AOpEwGsPWPqiO7tHrqcoNu82XYg4xRyd3Z9myTbv
        mpasP6ymy/0FHOWlSQhRcbC6rFxOt02tq45t5IkOkfFxNd0N4lqT0yAlbF1KpntI
        29dYHrAFG9cfceulJZjNfFbnyMb4dmK4BvgOfDkif9+ocil0CsnenbkdtSCJ868z
        /ped3K1xG2UUjmHGAkeYmtmq0F3TyX37ozvDRi72xaIaK3IvcXK88sjaWvM0o4Zx
        qwARmvfTuTjqLFVwWpY7zRDe0SXT/0Bu2fdl4qIW1hkq4gdRgA==
        -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
        -----BEGIN RSA PRIVATE KEY-----
        MIIEpAIBAAKCAQEAsBJK5IqXCoHiTsX//uIm+4a+c3wK99hhMajCcUUZCMcA18WD
        nyeomCjNbpHaOIKvHhyzVXKPAWEpBUe1KJlgS4EwcDP3UdDOzyP67MZQOhT1gfhF
        77Ff3rQ22C5KV+qxj0B6aW0WU2rAtLPoAHMa6mmkjURzKiKsMvB+U+zPrBUWznjN
        RV4lxfoPu7cDlw7fZSx1bZHImdtgOWPjzHjVSNKt0oivcz6SP1o+VBtEn+TMfU87
        SwPgF+/53EnznQNoNwYXS1bnAFCot9J1HYJuzDF9wbdnIjtcOL9GbTlk+lZPr1Ri
        PSL5CODnMTIa2f7Ot/LlQnCroXEKKVwDfwqWMwIDAQABAoIBAQCONagh4UJPbUqh
        P1EdyAGeZF2NHyIovq76EglCvYGT0k/+9vvxX3HPvBz48nrj68GPO7UpDcctYRFl
        v141tXPOaED8Tyyx+0oeijwQY7jGwMjuud2a1JPPZ5VolDLdwaS6RGTapA5FP9L3
        4NtBCbcyoDMVGrU90hVta0tNc9bkcCkLGbtu0oIn/mJV9LBE9u0PCmoIxpfq6msu
        Tl1TtZTXtp2F/FUF6/FST6P/5UUb1RrdEcbF/ZZmSxRlQwBP7OLnkb6Z3cs9/2V/
        IBTwFcHOCGmnwmeSE4WKvufl7yhU67deRGuMXSWL5LRh4VQb4yI/fb7wyeIF2dMs
        koLgiKfBAoGBANp9NgE/mQ09MVpFNKc3blLSMj954Tcr5y8IHazQgMawDecyA9Nl
        cZcn2wJ6rUfFOI36IU3mZTBxvMTlA9pak2Av8DjDgOQigKzbtsphOkaPRrOKcYyu
        4V8mf1RqOfgnCAKOykohJTLTJzssiOeMjoONL4Kl8U0xLRsVC8z10qdhAoGBAM5M
        ydalLLptVxkAhwqRtMPGnfynwvZHSTf+X9gYe/gmaX1R/h2FjrFio4nVBcA4kZBT
        ykuf6721fDoV/foZfhYjRyZ96PRYE27v5Tqtc01n7OKySeyERfaZWYf3hVxBgDNq
        2uZnImjg8tI6HPePANNsCLOrhRsNAEErODaPWmoTAoGAaPZWB2uCH3YSS4eLr/lV
        KryIHy5yH4sb2OBRQUA5XToes763T8sgMrmW4S4GKMB6VtqfPUk9u3Qod359x1xU
        CJV/FgX12aMppeE3gyoKUPNrx7zup+MrqgZYjTkq+CfoFTJ7w/kAYdZGtorCilpf
        7JrbBCysK6VAQg5uSNyfgoECgYEAhZgkfOOp+3AjHwXAbY+9x6ovVRYuot23BJOt
        7XqtjR0S4xzdurBqn2SJExDoEHqRiS05q498UfXc5KCpP/SSOjPON5cB7Hm82/Ju
        N3lrWY0bUhKy3H8r722PFQWtTvj71FA2QU44ckJ5/Lm1WHs6xa8IU5GXONVKfOlI
        FczveBECgYBVnJ45ihWob64iRmFNEPz4gex66HRpMsLXK+txWAno5sd3/lOI/AHw
        +UXPcgNA9SbZS96B69ZekieayAzmJ0Bdps41dvq1L1UT1GVsZZTsdK0fNjIcWM82
        CuHFgEhb9VFnDQP0uf9xK4rlRyvUXicyhB1zA+kClZNCZEr2//JR6g==
        -----END RSA PRIVATE KEY-----

  /etc/pki/tls/certs/sub.class1.server.ca.pem:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
        -----BEGIN CERTIFICATE-----
        MIIGNDCCBBygAwIBAgIBGDANBgkqhkiG9w0BAQUFADB9MQswCQYDVQQGEwJJTDEW
        MBQGA1UEChMNU3RhcnRDb20gTHRkLjErMCkGA1UECxMiU2VjdXJlIERpZ2l0YWwg
        Q2VydGlmaWNhdGUgU2lnbmluZzEpMCcGA1UEAxMgU3RhcnRDb20gQ2VydGlmaWNh
        dGlvbiBBdXRob3JpdHkwHhcNMDcxMDI0MjA1NDE3WhcNMTcxMDI0MjA1NDE3WjCB
        jDELMAkGA1UEBhMCSUwxFjAUBgNVBAoTDVN0YXJ0Q29tIEx0ZC4xKzApBgNVBAsT
        IlNlY3VyZSBEaWdpdGFsIENlcnRpZmljYXRlIFNpZ25pbmcxODA2BgNVBAMTL1N0
        YXJ0Q29tIENsYXNzIDEgUHJpbWFyeSBJbnRlcm1lZGlhdGUgU2VydmVyIENBMIIB
        IjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtonGrO8JUngHrJJj0PREGBiE
        gFYfka7hh/oyULTTRwbw5gdfcA4Q9x3AzhA2NIVaD5Ksg8asWFI/ujjo/OenJOJA
        pgh2wJJuniptTT9uYSAK21ne0n1jsz5G/vohURjXzTCm7QduO3CHtPn66+6CPAVv
        kvek3AowHpNz/gfK11+AnSJYUq4G2ouHI2mw5CrY6oPSvfNx23BaKA+vWjhwRRI/
        ME3NO68X5Q/LoKldSKqxYVDLNM08XMML6BDAjJvwAwNi/rJsPnIO7hxDKslIDlc5
        xDEhyBDBLIf+VJVSH1I8MRKbf+fAoKVZ1eKPPvDVqOHXcDGpxLPPr21TLwb0pwID
        AQABo4IBrTCCAakwDwYDVR0TAQH/BAUwAwEB/zAOBgNVHQ8BAf8EBAMCAQYwHQYD
        VR0OBBYEFOtCNNCYsKuf9BtrCPfMZC7vDixFMB8GA1UdIwQYMBaAFE4L7xqkQFul
        F2mHMMo0aEPQQa7yMGYGCCsGAQUFBwEBBFowWDAnBggrBgEFBQcwAYYbaHR0cDov
        L29jc3Auc3RhcnRzc2wuY29tL2NhMC0GCCsGAQUFBzAChiFodHRwOi8vd3d3LnN0
        YXJ0c3NsLmNvbS9zZnNjYS5jcnQwWwYDVR0fBFQwUjAnoCWgI4YhaHR0cDovL3d3
        dy5zdGFydHNzbC5jb20vc2ZzY2EuY3JsMCegJaAjhiFodHRwOi8vY3JsLnN0YXJ0
        c3NsLmNvbS9zZnNjYS5jcmwwgYAGA1UdIAR5MHcwdQYLKwYBBAGBtTcBAgEwZjAu
        BggrBgEFBQcCARYiaHR0cDovL3d3dy5zdGFydHNzbC5jb20vcG9saWN5LnBkZjA0
        BggrBgEFBQcCARYoaHR0cDovL3d3dy5zdGFydHNzbC5jb20vaW50ZXJtZWRpYXRl
        LnBkZjANBgkqhkiG9w0BAQUFAAOCAgEAIQlJPqWIbuALi0jaMU2P91ZXouHTYlfp
        tVbzhUV1O+VQHwSL5qBaPucAroXQ+/8gA2TLrQLhxpFy+KNN1t7ozD+hiqLjfDen
        xk+PNdb01m4Ge90h2c9W/8swIkn+iQTzheWq8ecf6HWQTd35RvdCNPdFWAwRDYSw
        xtpdPvkBnufh2lWVvnQce/xNFE+sflVHfXv0pQ1JHpXo9xLBzP92piVH0PN1Nb6X
        t1gW66pceG/sUzCv6gRNzKkC4/C2BBL2MLERPZBOVmTX3DxDX3M570uvh+v2/miI
        RHLq0gfGabDBoYvvF0nXYbFFSF87ICHpW7LM9NfpMfULFWE7epTj69m8f5SuauNi
        YpaoZHy4h/OZMn6SolK+u/hlz8nyMPyLwcKmltdfieFcNID1j0cHL7SRv7Gifl9L
        WtBbnySGBVFaaQNlQ0lxxeBvlDRr9hvYqbBMflPrj0jfyjO1SPo2ShpTpjMM0InN
        SRXNiTE8kMBy12VLUjWKRhFEuT2OKGWmPnmeXAhEKa2wNREuIU640ucQPl2Eg7PD
        wuTSxv0JS3QJ3fGz0xk+gA2iCxnwOOfFwq/iI9th4p1cbiCJSS4jarJiwUW0n6+L
        p/EiO/h94pDQehn7Skzj0n1fSoMD7SfWI55rjbRZotnvbIIp3XUZPD9MEI3vu3Un
        0q6Dp6jOW6c=
        -----END CERTIFICATE-----

services:
  sysvinit:
    httpd:
      enabled: true
      ensureRunning: true
      files : [/etc/httpd/conf.d/ssl.conf,/etc/pki/tls/certs/server.key,/etc/pki/tls/certs/server.crt,/etc/pki/tls/certs/sub.class1.server.ca.pem]