Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupName: {Ref : AWSEBSecurityGroup}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

packages:
  yum:
    mod_ssl : []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
        	Order deny,allow
        	Allow from all
        </Proxy>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"

        ProxyPass / http://localhost:8080/ retry=0
        ProxyPassReverse / http://localhost:8080/
        ProxyPreserveHost on

        LogFormat "%h (%{X-Forwarded-For}i) %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\""
        ErrorLog /var/log/httpd/elasticbeanstalk-error_log
        TransferLog /var/log/httpd/elasticbeanstalk-access_log
      </VirtualHost>

  /etc/pki/tls/certs/server.crt:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
-----BEGIN&amp;nbsp;CERTIFICATE-----
MIIGsTCCBZmgAwIBAgIDAnVNMA0GCSqGSIb3DQEBCwUAMIGMMQswCQYDVQQGEwJJ
TDEWMBQGA1UEChMNU3RhcnRDb20gTHRkLjErMCkGA1UECxMiU2VjdXJlIERpZ2l0
YWwgQ2VydGlmaWNhdGUgU2lnbmluZzE4MDYGA1UEAxMvU3RhcnRDb20gQ2xhc3Mg
MiBQcmltYXJ5IEludGVybWVkaWF0ZSBTZXJ2ZXIgQ0EwHhcNMTQwOTA5MjAyMjA1
WhcNMTYwOTA5MDIzNjA0WjCBpTELMAkGA1UEBhMCTloxETAPBgNVBAgTCEF1Y2ts
YW5kMREwDwYDVQQHEwhBdWNrbGFuZDEXMBUGA1UEChMOQmlvbWF0dGVycyBMdGQx
KzApBgNVBAMTInNtaXRoc29uaWFuLWxpbXMtdGVzdC5nZW5laW91cy5jb20xKjAo
BgkqhkiG9w0BCQEWG3N5c3RlbV9hZG1pbkBiaW9tYXR0ZXJzLmNvbTCCASIwDQYJ
KoZIhvcNAQEBBQADggEPADCCAQoCggEBALASSuSKlwqB4k7F//7iJvuGvnN8CvfY
YTGownFFGQjHANfFg58nqJgozW6R2jiCrx4cs1VyjwFhKQVHtSiZYEuBMHAz91HQ
zs8j+uzGUDoU9YH4Re+xX960NtguSlfqsY9AemltFlNqwLSz6ABzGupppI1Ecyoi
rDLwflPsz6wVFs54zUVeJcX6D7u3A5cO32UsdW2RyJnbYDlj48x41UjSrdKIr3M+
kj9aPlQbRJ/kzH1PO0sD4Bfv+dxJ850DaDcGF0tW5wBQqLfSdR2CbswxfcG3ZyI7
XDi/Rm05ZPpWT69UYj0i+Qjg5zEyGtn+zrfy5UJwq6FxCilcA38KljMCAwEAAaOC
Av8wggL7MAkGA1UdEwQCMAAwCwYDVR0PBAQDAgOoMB0GA1UdJQQWMBQGCCsGAQUF
BwMCBggrBgEFBQcDATAdBgNVHQ4EFgQUHgdbSWPMpWhUpgj0ttDeRfV+yGgwHwYD
VR0jBBgwFoAUEdsjRf1UzGpxb4SKA9e+9wEvJoYwOwYDVR0RBDQwMoIic21pdGhz
b25pYW4tbGltcy10ZXN0LmdlbmVpb3VzLmNvbYIMZ2VuZWlvdXMuY29tMIIBVgYD
VR0gBIIBTTCCAUkwCAYGZ4EMAQICMIIBOwYLKwYBBAGBtTcBAgMwggEqMC4GCCsG
AQUFBwIBFiJodHRwOi8vd3d3LnN0YXJ0c3NsLmNvbS9wb2xpY3kucGRmMIH3Bggr
BgEFBQcCAjCB6jAnFiBTdGFydENvbSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTAD
AgEBGoG+VGhpcyBjZXJ0aWZpY2F0ZSB3YXMgaXNzdWVkIGFjY29yZGluZyB0byB0
aGUgQ2xhc3MgMiBWYWxpZGF0aW9uIHJlcXVpcmVtZW50cyBvZiB0aGUgU3RhcnRD
b20gQ0EgcG9saWN5LCByZWxpYW5jZSBvbmx5IGZvciB0aGUgaW50ZW5kZWQgcHVy
cG9zZSBpbiBjb21wbGlhbmNlIG9mIHRoZSByZWx5aW5nIHBhcnR5IG9ibGlnYXRp
b25zLjA1BgNVHR8ELjAsMCqgKKAmhiRodHRwOi8vY3JsLnN0YXJ0c3NsLmNvbS9j
cnQyLWNybC5jcmwwgY4GCCsGAQUFBwEBBIGBMH8wOQYIKwYBBQUHMAGGLWh0dHA6
Ly9vY3NwLnN0YXJ0c3NsLmNvbS9zdWIvY2xhc3MyL3NlcnZlci9jYTBCBggrBgEF
BQcwAoY2aHR0cDovL2FpYS5zdGFydHNzbC5jb20vY2VydHMvc3ViLmNsYXNzMi5z
ZXJ2ZXIuY2EuY3J0MCMGA1UdEgQcMBqGGGh0dHA6Ly93d3cuc3RhcnRzc2wuY29t
LzANBgkqhkiG9w0BAQsFAAOCAQEAxpgsGU0p0/cmKX+3ldw97fmTmJkNT1a+fNRT
l3/VkUkWhKURcn7i/eK9lOm3AOpEwGsPWPqiO7tHrqcoNu82XYg4xRyd3Z9myTbv
mpasP6ymy/0FHOWlSQhRcbC6rFxOt02tq45t5IkOkfFxNd0N4lqT0yAlbF1KpntI
29dYHrAFG9cfceulJZjNfFbnyMb4dmK4BvgOfDkif9+ocil0CsnenbkdtSCJ868z
/ped3K1xG2UUjmHGAkeYmtmq0F3TyX37ozvDRi72xaIaK3IvcXK88sjaWvM0o4Zx
qwARmvfTuTjqLFVwWpY7zRDe0SXT/0Bu2fdl4qIW1hkq4gdRgA==
-----END&amp;nbsp;CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: 000777
    owner: ec2-user
    group: ec2-user
    content: |
-----BEGIN RSA&amp;nbsp;PRIVATE KEY-----
Proc-Type: 4,ENCRYPTED
DEK-Info: AES-256-CBC,B225D89E361E684080F198ED49FF6CFA

FQORGxoEPAplpAjfw+Yiz9ncUwSwkg7Q6FQC2GMEWwiYjbl6MBZIzfDH7sNCspO3
cSAApGG0Z9JDwlAIh3NjwHURmUTTwem2V/E7cN3954paFMBKJ13aI32TqPcP+TMy
7j8r2JSm9Xbv1wd5PUm3+wkTMb57RXXpi0wQyRk/vP6lCOhOKZdMptGOGxBgTjgQ
v36doXBhJStjaH5LOqwQMO6ZEF1OEnwIEultT4C/A9QHPLfJiIdRZTN8NAGfM9EQ
BL5BLKJQUJv/Vsl0Svuz3myu2jpB2GeWicBcSkApK13N3Tyn35MklwIt8qJTUMho
zLkFLtNTDQoSCFwQcbBG8d5G5khP2corEVL/GVpJ7iB3DgBXmgQzfTq6Pk1Ml2v0
y6JiPG28FN7uLsvD0UFbCPqdYNgEc7IQuJihEXSWTEudQxzjcJz0kulUar5b9jFx
NFCXdJ1pfcm8FH010qFSZlOh+7TzzxL0L/zuVdkarWDGb6Hb/apyoo6dVDktzAh7
CLTvFYPz7VqGhhtgKMLA1S+6gPQkrOvYOUrnx8KJG3bSyiWdxE6fb/fwhutU5s4t
g6XgtFUfJkKD952V3gh7A/BbhPoaKGzitWGkoCsYjVV/a9TmqP4uutEhLIWkOff/
c2Es2tRvQikUrfDbsafV5tnWkLefGCkDzsU5VYVXh+neXqK04/XpCUTxBew3k/JA
egpc81KfB/1+mlyDD+3lVsKyc1eJ2d1fbWjKDySYlmvo7p85QSRA6crAfGEJxq5j
HHeZxIOo1SRT5414DFuHFtn12oqUgwYIDuMN0GvtviqNgJvGd4AP8Hlte2u5Zk3t
IA5awdFiXW+O5n6EI6w3CVULeE9ZlRusjjfwACvocsLrtk7XmMaDM/whrxiHQYh9
diqSSZv1fT2KXUDhIefmX82ynzl2ket47w218+S86r36McTcqBGe0ZnYprsNBA6Z
NPsc2IpjgwLH83j7Xd+Ats81qcF8eIpF4MpABQwPpN1k6D6+bNDQ1Q/t1SE87mmg
G4T08mnQksi/Zk7WtQKyNAq1k3uqflYbKMn8s1ktlpCoovnfdlxF8VgKSzDt+B2B
CDI8wDZUBoQhX5Y/PlTKT03k7Bqd68Dk6iKFX4qKbsr+UzTUALClcGFbbGRHLF4a
b4iyEm+ISaLJwS+LEWD/20vYg3ht3RGWebtDOP5lI0HZ5FdXPKj4GLqnFROPCLhW
s1+pkwlouOAYi5PMIvSQtV7xV7DXBMi2ypqedBoDtaiGbo6nZlxH20GFB0Ntkegn
AqUZHqW/xwH8qW+qjoE/4G00pHNxoa1Zgi5e8OLb0AiTVxTtBp+v2Od9LhawGob7
vqOE0jMRW3Tu1XB2HXpCgOSvXmBqifjYHWyrws8I4Z7lBNq57sSZxE0ZxFMIKeTk
EFiF2ptfBHgRG+hBFfvYJcIFXzCqYqkE3ZXgfwLcrscNB5UqZ7NbS39jdUIW/COP
mSeRMktBz9WxL2wImfvHis0HQRpMWKCbNQf/OJjKv0MqsEBj8U62Xmc3PT+Fb2YC
lY7XI2qL2l3o+OjYRg4k3srJRxWL/CaAJ9RjgDAHZqJvVWKJXp4H8oSZb+JE1X+o
-----END RSA&amp;nbsp;PRIVATE KEY-----

services:
  sysvinit:
    httpd:
      enabled: true
      ensureRunning: true
      files : [/etc/httpd/conf.d/ssl.conf,/etc/pki/tls/certs/server.key,/etc/pki/tls/certs/server.crt]