<div class="container">
    <div class="jumbotron">
        <p>The Biocode LIMS software comprises everything you need to manage your lab and sequence analysis workflows.
           The software is complex, and while learning how to use them can seem like a daunting task, help is available.
            Your first port of call should be the <a href="http://software.mooreabiocode.org">software.mooreabiocode.org</a>.
            There you can find an introduction video, which walks you through the software. You will also find a more
            detailed manual, and a list of frequently asked questions.
        </p>
        <p>
            A user community, and technical support is available from <a href="http://connect.barcodeoflife.org/group/lims">http://connect.barcodeoflife.org/group/lims</a>
            Here, you can engage with the wider community, get help from experienced users, and make suggestions about how to improve the software.
            If you have and questions or suggestions that you don't want to post to the community, you can email
            <a href="mailto:support@mooreabiocode.org">support@mooreabiocode.org</a>
        </p>
    </div>
</div>