<div class="container">
    <div class="row userinforow">
        <table class="table" border="0">
            <tbody>
            <tr>
                <td>Username</td>
                <td><input type="text" id="username" ng-model="user.username"></td>
            </tr>
            <tr>
                <td>First Name</td>
                <td><input type="text" id="firstname" ng-model="user.firstname"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" id="lastname" ng-model="user.lastname"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" id="email" ng-model="user.email"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" id="password" ng-model="user.password"></td>
            </tr>
            <tr>
                <td>Confirm password</td>
                <td><input type="password" id="re-password" ng-model="verify"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <label style="color: red" ng-show="verify != user.password">These passwords don't match. Try again?</label>
                </td>
            </tr>
            <tr>
                <td>Is Admin</td>
                <td><input type="checkbox" ng-model="user.isAdministrator"></td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary btn-lg" ng-click="onCreateUser()">Create</button>
    </div>
</div>