<div class="container">
    <div class="header">
        <h1>{{user.username}}</h1>
        <button type="button" class="btn btn-primary btn-lg" ng-click="onUpdateUser()">Update</button>
        <button type="button" class="btn btn-primary btn-lg" ng-click="toggleModal()">Change Password</button>
        <button type="button" class="btn btn-primary btn-lg delBtn" ng-click="onDeleteUser()">Delete</button>
        <div class="pass-dialog">
            <modal-dialog show='myData.modalShown' width='400px' dialog-title="{{user.username}}'s New Password"
                          on-close='logClose()'>
                <div class="password-row">
                    <table class="table" border="0">
                        <tbody>
                        <tr>
                            <td>Password</td>
                            <td><input type="password" id="passinput" ng-model="password"></td>
                        </tr>
                        <tr>
                            <td>Confirm password</td>
                            <td><input type="password" id="verify" ng-model="verify"></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label style="color: red" ng-show="verify != password">These passwords don't match. Try
                                    again?</label>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button style="" type="button" class="btn btn-primary" ng-click="submitPass()">Submit
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </modal-dialog>
        </div>
    </div>
    <div class="row userinforow">
        <table class="table" border="0">
            <tbody>
            <tr>
                <td>First Name</td>
                <td><input type="text" id="firstname" ng-model="user.firstname"></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" id="lastname" ng-model="user.lastname"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" id="email" ng-model="user.email"></td>
            </tr>
            <tr>
                <td>Is Admin</td>
                <td><input type="checkbox" id="is-dmin" ng-model="user.isAdministrator"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" id="user-role-row">
        <h3>Roles</h3>
        <select class="form-control" ng-change="onProjectChange(projId)" ng-model="projId">
            <option ng-repeat="project in projects" value="{{project.id}}">{{project.name}}
            </option>
        </select>
        <select class="form-control" ng-model="roleId">
            <option ng-repeat="role in projectRoles" value="{{role.id}}">{{role.name}}
            </option>
        </select>
        <button type="button" class="btn btn-primary" ng-click="onAssignRole()">Assign Role</button>
        <button type="button" class="btn btn-primary" ng-click="onDeleteRole()">Delete Selected Roles</button>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Project</th>
                <th>Role</th>
                <th>Description</th>
                <th><input type="checkbox" ng-click="onAllCheckBox($event.target)"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="role in roles">
                <td><a href="#/projects/{{role.projectId}}" value="{{role.projectId}}">{{role.projectName}}</a></td>
                <td>{{role.roleName}}</td>
                <td>{{role.description}}</td>
                <td><input type="checkbox" class="checkbox"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>